<head>
  <title>Welcome to MemeWars! </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">


<style>body {
margin: 0;
}
h1 a:hover {
font-size: 30px; color: #333;
}
h1 a:active {
font-size: 30px; color: #333;
}
h1 a:visited {
font-size: 30px; color: #333;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
.button__text:hover {
color: #fff; text-decoration: none;
}
.button__text:active {
color: #fff; text-decoration: none;
}
.button__text:visited {
color: #fff; text-decoration: none;
}
a:hover {
color: #000000;
}
a:active {
color: #000000;
}
a:visited {
color: #000000;
}
@media (max-width: 600px) {
  .container {
    width: 94% !important;
  }
  .main-action-cell {
    float: none !important; margin-right: 0 !important;
  }
  .secondary-action-cell {
    text-align: center; width: 100%;
  }
  .header {
    margin-top: 20px !important; margin-bottom: 2px !important;
  }
  .shop-name__cell {
    display: block;
  }
  .order-number__cell {
    display: block; text-align: left !important; margin-top: 20px;
  }
  .button {
    width: 100%;
  }
  .or {
    margin-right: 0 !important;
  }
  .apple-wallet-button {
    text-align: center;
  }
  .customer-info__item {
    display: block; width: 100% !important;
  }
  .spacer {
    display: none;
  }
  .subtotal-spacer {
    display: none;
  }
}
</style>
</head>

  <body style="margin: 0;">
    <table class="body" style="height: 100% !important; width: 100% !important; border-spacing: 0; border-collapse: collapse;">
      <tbody><tr>
        <td style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;">

<table class="header row" style="width: 100%; border-spacing: 0; border-collapse: collapse; margin: 40px 0 20px;">
  <tbody><tr>
    <td class="header__cell" style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;">
      <center>

        <table class="container" style="width: 560px; text-align: left; border-spacing: 0; border-collapse: collapse; margin: 0 auto;">
          <tbody><tr>
            <td style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;">

              <table class="row" style="width: 100%; border-spacing: 0; border-collapse: collapse;">
                <tbody><tr>
                  <td class="shop-name__cell" style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;">

                      <img src="https://bearheartsbat.files.wordpress.com/2017/07/reliable-supply-logo.png?w=1556" alt="recycle" width="180">

                  </td>

                </tr>
              </tbody></table>

            </td>
          </tr>
        </tbody></table>

      </center>
    </td>
  </tr>
</tbody></table>

          <table class="row content" style="width: 100%; border-spacing: 0; border-collapse: collapse;">
  <tbody><tr>
    <td class="content__cell" style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif; padding-bottom: 40px;">
      <center>
        <table class="container" style="width: 560px; text-align: left; border-spacing: 0; border-collapse: collapse; margin: 0 auto;">
          <tbody><tr>
            <td style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;">

            <h2 style="font-weight: normal; font-size: 24px; margin: 0 0 10px;">Welcome to MemeWars! </h2>
            <p style="color: #777; line-height: 150%; font-size: 16px; margin: 0;">
						</p>
<p style="color: #777; line-height: 150%; font-size: 16px; margin: 15px 0 0;">Hi <%= @user.username %>, </p>

						<!-- You may like to include a Hero Image -->

						<!-- /Hero Image -->

						<br>

						<p style="color: #777; line-height: 150%; font-size: 16px; margin: 0;">Thanks for joining MemeWars!</p>

						<p style="color: #777; line-height: 150%; font-size: 16px; margin: 15px 0 0;">Our gives you the ability to post items that may be trash to you, but can be treasure for others! Our search bar offers you the ability to search for items by location. You can slo post reviews of interactions you have had with other users on that users profile page. Our site is a great place to repurpose once considered useless waste!</p>

						<br>

						<p style="color: #777; line-height: 150%; font-size: 16px; margin: 0;">Cheers,</p>
						<p style="color: #777; line-height: 150%; font-size: 16px; margin: 15px 0 0;">The MemeWars Team</p>


              <table class="row actions" style="width: 100%; border-spacing: 0; border-collapse: collapse; margin-top: 20px;">
                <tbody><tr>
                  <td class="actions__cell" style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;">
                    <table class="button main-action-cell" style="border-spacing: 0; border-collapse: collapse; float: left; margin-right: 15px;">
                      <tbody><tr>
                        <td class="button__cell" style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif; border-radius: 4px;" align="center" bgcolor="#000000"><a href="http://www.reliable.supply/" class="button__text" style="font-size: 16px; text-decoration: none; display: block; color: #fff; padding: 20px 25px;" target="_blank">Visit our site</a></td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody></table>


            </td>
          </tr>
        </tbody></table>
      </center>
    </td>
  </tr>
</tbody></table>
          <table class="row footer" style="width: 100%; border-spacing: 0; border-collapse: collapse; border-top-width: 1px; border-top-color: #e5e5e5; border-top-style: solid;">
  <tbody><tr>
    <td class="footer__cell" style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif; padding: 35px 0;">
      <center>
        <table class="container" style="width: 560px; text-align: left; border-spacing: 0; border-collapse: collapse; margin: 0 auto;">
          <tbody><tr>
            <td style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;">
              <p class="disclaimer__subtext" style="color: #999; line-height: 150%; font-size: 14px; margin: 0;">If you have any questions, reply to this email or contact us at <a href="spamvacuum888@gmail.com" style="font-size: 14px; text-decoration: none; color: #000000;" target="_blank">spamvacuum888@gmail.com</a></p>
            </td>
          </tr>
        </tbody></table>
      </center>
    </td>
  </tr>
</tbody></table>

        </td>
      </tr>
    </tbody></table>


</body>
