@import "materialize";
@import "social-share-button";
body {
  background-color: #e6ecf0;
}
header {
   height: 550px;
   background-image: url('./background-image-1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.account-welcome {
    padding: 19px 18px 19px 18px;
    background-color: #555;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Proxima Nova',sans-serif;
    font-weight: 600;
}

.favorite-meme-image {
  width: 550px;
}
