@import "materialize";
@import "social-share-button";
body {
  background-color: #e5e5e5;
}
header {
   height: 550px;
   background-image: url('./background-image-1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
